### Data structures

#### Operations which are Available with Datastructures CRUD(Create,Read,Update,Delete)
- Int 
- Float
- Bool
- Strings
- Complex
- Lists
- Tuple
- Dictionary
- Sets

##### Datastructures in python are im-mutable 
- Mutable Datastructures in python are :-
- List
- Dict
- Set

##### Introduction to Strings 
- collection of characters [a-z,A-Z,0-9]
- UTF-8 charater encoding or ASCII(0-256)

In [1]:
a = "hi"

In [2]:
print(a)

hi

In [3]:
a = """hi this is a multiline string """

In [4]:
print(a)

hi this is a multiline string

In [10]:
ord("a")# returns the memory no

97

In [11]:
chr(97) # returns the ascii value of the number

'a'

In [12]:
#String Operations

In [13]:
a = 1
b = 2
c = 3

In [15]:
#1-2-3
print("%d-%d-%d" %(a,b,c))
#only applicable to int values

1-2-3

In [17]:
print("{}-{}-{}".format(a,b,c)) #applicable to int as well as to strings

1-2-3

In [18]:
 print("{lastname},{firstname}".format(firstname="Paras",lastname="chaudhary"))

chaudhary,Paras

In [26]:
firstname = "Paras"
lastname = "chaudhary"

In [27]:
print(f"{lastname},{firstname}") # this f feteches the information available in the nearest scope

chaudhary,Paras

In [31]:
a = "                                      paras.                "

In [32]:
a

'                                      paras.                '

In [33]:
print(a.strip())#strip removes white spaces

paras.

In [34]:
a = input()

yes

In [35]:
a.strip()=="yes"

True

In [36]:
a = input()

1 2 3 4 5 6

In [38]:
a.split(' ')

['1', '2', '3', '4', '5', '6']

In [45]:
a = "Python"

In [40]:
a[0]

'P'

In [41]:
a.replace("P","l")

'lython'

In [49]:
a.count('o')

1

#### Introduction to lists

In [50]:
#lists are orered, mutable , accesseed using index , Heterogenous
a = [1,2,3,4,5]

In [51]:
print(type(a))

<class 'list'>

In [52]:
#Lists can include strings , integers and functions as well

In [54]:
len(a) #calculates the length of the list

5

In [57]:
for x in a:
    print(x) #here x is iterator and a is iterable

1
2
3
4
5

In [58]:
#list in python can also backword
a[-3]

3

In [59]:
b = "Paras"

In [61]:
b[-1] #print the last char

's'

In [63]:
a[1:4] #print all the elemets btw 1 & 4

[2, 3, 4]

In [65]:
a[:] #prints all list

[1, 2, 3, 4, 5]

In [67]:
a[::-1] #prints all list in reverse

[5, 4, 3, 2, 1]

In [70]:
#updating the list
# insert
# append

a.insert(1,"P")

In [72]:
a

[1, 'P', 2, 3, 4, 5]

In [75]:
a.append("hi") #inserts at the end of the list

In [76]:
a

[1, 'P', 2, 3, 4, 5, 'hi', 'hi']

In [77]:
#Deleting list elements 
#del
#pop
#remove

In [79]:
a.pop(1) #removes the elemet present at idx 1

2

In [80]:
a.remove(3)

In [81]:
a

[1, 4, 5, 'hi', 'hi']

In [82]:
del a[1]

In [83]:
a

[1, 5, 'hi', 'hi']

In [84]:
#Sorting and reversing
#sorted and sort 
#reverse and reversed

In [85]:
a

[1, 5, 'hi', 'hi']

In [90]:
a = [1,2,3,5,8,202020202,100]

In [91]:
a.sort()

In [92]:
a

[1, 2, 3, 5, 8, 100, 202020202]

In [93]:
sorted(a)

[1, 2, 3, 5, 8, 100, 202020202]

In [95]:
for i in reversed(a):
    print(i)

202020202
100
8
5
3
2
1

In [96]:
a.reverse()

In [97]:
a

[202020202, 100, 8, 5, 3, 2, 1]

#### Introduction to Tuples
- diff btw list and tuple is mutability and im mutability 
- Tupleas are used to hold together multiple objects. Think of them as similar to lists, but without the extensive ffunctionality that the list class gives you.One major feature of tuples is that they are immutable like strings i.e you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e the tuple of values used will not change

In [98]:
a = (1,2,3,4,5)

In [99]:
print(type(a))

<class 'tuple'>

In [100]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [101]:
def fun(*args):
    print(args)

In [102]:
fun(1,2,3,4)

(1, 2, 3, 4)

In [103]:
a = 5
b = 9

In [104]:
temp = a
a = b
b =temp

In [105]:
a = a+b
a = a-b
a = a-b

In [106]:
print(a,b)

4 5

In [107]:
a = 1,2

In [108]:
print(a)

(1, 2)

In [109]:
c , d = a

In [113]:
c,d = d,c

In [114]:
d

1

In [115]:
c

2

In [116]:
c

2

In [117]:
a = (1,2,3)

In [118]:
list(a)

[1, 2, 3]

In [119]:
a = list(range(15))

In [121]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [122]:
b = list("Paras")

In [123]:
b

['P', 'a', 'r', 'a', 's']

In [124]:
#Returning multiple values from functions(The return thing is a tuple!)

In [126]:
def addSubtract(a,b):
    return a+b,a-b

In [128]:
sum , diff = addSubtract(9,3)

In [129]:
sum

12

In [130]:
diff

6

In [131]:
#introduction to Dictionaries

A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e we associate keys(name)with values(details).Note thant the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.
Remember that key-value pairs in a dictionary are not ordered in any manner

In [134]:
a = {
    "name":"paras",
    "marks": 90,
    "subjects": ["eng","math"],
    "friends":{
        "Paras":"Datascience"
    }
}

In [136]:
a["friends"]

{'Paras': 'Datascience'}

In [137]:
for key in a:
    print(key)

name
marks
subjects
friends

#### some important dict methods
- get()
- items()
- keys()
- value()
- clear()

In [142]:
for item in a.items():
    print(item)

('name', 'paras')
('marks', 90)
('subjects', ['eng', 'math'])
('friends', {'Paras': 'Datascience'})

In [144]:
for key,value in a.items():
    print(key,"=>",value)

name => paras
marks => 90
subjects => ['eng', 'math']
friends => {'Paras': 'Datascience'}

In [145]:
for val in a.values():
    print(val)

paras
90
['eng', 'math']
{'Paras': 'Datascience'}

In [146]:
a.get("name")

'paras'

In [149]:
a.get("subjects")

['eng', 'math']

In [150]:
a

{'name': 'paras',
 'marks': 90,
 'subjects': ['eng', 'math'],
 'friends': {'Paras': 'Datascience'}}

#### Challenge 
write a simple Python program which inputs and stores the data about university students as a list of dictionaries.your final record structure should look like this :

In [156]:
students = []

In [160]:
n = int(input())

3

In [161]:
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no": roll,
        "name": name,
        "branch": branch
    })

1
rahul
cse
2
shivam
it
3
biotech
bio

In [162]:
students

[{'roll-no': 1, 'name': 'rahul', 'branch': 'cse'},
 {'roll-no': 2, 'name': 'shivam', 'branch': 'it'},
 {'roll-no': 3, 'name': 'biotech', 'branch': 'bio'}]

keys in dict can be any immutable Datastructure


#### Introduction to Sets

- sets are un ordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.
- using sets, you can test d=for membership, whether it is subset of another set,find the intersection between two sets, and so on

In [163]:
a = {1,2,3,4}

In [164]:
type(a)

set

In [166]:
b = set()

In [167]:
type(b)

set

In [168]:
a = {1,2,34,5,6,7,8}

In [169]:
b = {34,5,6,7,8,9}

In [170]:
a.intersection(b)

{5, 6, 7, 8, 34}

In [171]:
a.union(b)

{1, 2, 5, 6, 7, 8, 9, 34}

In [173]:
a - b

{1, 2}

In [174]:
for i in a:
    print(i)

1
2
34
5
6
7
8

In [176]:
for i in b:
    print(b)

{34, 5, 6, 7, 8, 9}
{34, 5, 6, 7, 8, 9}
{34, 5, 6, 7, 8, 9}
{34, 5, 6, 7, 8, 9}
{34, 5, 6, 7, 8, 9}
{34, 5, 6, 7, 8, 9}

In [177]:
len(a)

7

In [178]:
len(b)

6

In [179]:
list(set(a))

[1, 2, 34, 5, 6, 7, 8]

In [180]:
set(list(a))

{1, 2, 5, 6, 7, 8, 34}

In [181]:
#comprehension Methods of creating Datastructures

In [182]:
a = []
for i in range(10):
    a.append(i**2)

In [183]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

 Dist Comprehension

In [192]:
{ i: i**2 for i in range(10) if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [193]:
{ i**2 for i in range(10) if i % 2 == 0 }

{0, 4, 16, 36, 64}

Tuple Comprehension

In [194]:
a = { i**2 for i in range(10)}

In [195]:
a

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}