In [7]:
#WORKING WITH TABULAR DATA
import numpy as np
import pandas as pd

In [10]:
pokemons = {
    "pokemon_Height" : np.random.randint(1,100,5),
    "pokemon_weight":np.random.randint(50,150,5),
    "pokemon_Power":np.random.randint(200,250,5)
}

In [11]:
print(pokemons)

{'pokemon_Height': array([75, 61, 36, 56, 93]), 'pokemon_weight': array([119,  56,  51, 118, 109]), 'pokemon_Power': array([206, 247, 218, 228, 242])}

In [13]:
df = pd.DataFrame(pokemons)

In [18]:
print(df)

   pokemon_Height  pokemon_weight  pokemon_Power
0              75             119            206
1              61              56            247
2              36              51            218
3              56             118            228
4              93             109            242

In [19]:
df.head()

   pokemon_Height  pokemon_weight  pokemon_Power
0              75             119            206
1              61              56            247
2              36              51            218
3              56             118            228
4              93             109            242

In [20]:
df.columns

Index(['pokemon_Height', 'pokemon_weight', 'pokemon_Power'], dtype='object')

In [21]:
##CREATE A CSV FILE

In [22]:
df.to_csv("pokemons.csv")

In [23]:
 ## READ DATAFRAME

In [24]:
df = pd.read_csv("pokemons.csv")

In [25]:
df.head()

   Unnamed: 0  pokemon_Height  pokemon_weight  pokemon_Power
0           0              75             119            206
1           1              61              56            247
2           2              36              51            218
3           3              56             118            228
4           4              93             109            242

In [ ]:
df.drop